@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --bg: #222223;
    --cream-white: #fffeec;
    --lavender: #bcb4ff;
    --olive-green: #cac426;
    --font-family: "Balsamiq Sans", sans-serif;
}

*{
    font-family: var(--font-family);
    margin: 0;
}

body{
    background-color: var(--bg);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .login-form{
    background-color: var(--cream-white);
    max-width: 448px;
    max-height: 394px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login-form h1{
    font-size: 3rem;
}