@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --font-family: 'Balsamiq Sans', cursive;
    --font-family-main: 'Winky Sans', cursive;
    --main-bg: #222223;
    --lavender-color: #bcb4ff;
    --white-color: #fffeec;
    --green-color: #cac426;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
}

body{
    background-color: var(--main-bg);
    color: var(--white-color);
    padding: 20px;
}

.container{
    margin: auto;
    background-color: var(--main-bg);
    padding: 20px;
}