@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --main-font: "Winky Rough", sans-serif;
    --secondary-font: "Comic Relief", system-ui;
    --bg-color: #222223;
    --lavender: #BCB4FF;
    --apricot-white: #FFFEEC;
    --pink: #E22797;
}

body{
    background-color: var(--bg-color);
}

*{
    font-family: var(--main-font);
    margin: 0;
}

.container{
    max-width: 600px;
    width: 100%;
    height: auto;
    border: 3px solid var(--lavender);
    margin: 30px auto;
    padding: 30px;
    text-align: center;
}