@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --main-font: "Winky Rough", sans-serif;
    --secondary-font: "Comic Relief", system-ui;
    --lavender-pink: #FFDAFC;
    --deep-charcoal: #222223;
    --apricot-white: #FFFEEC;
    --lavender: #BCB4FF;
}

*{
    margin: 0;
    font-family: var(--main-font);
}

*:focus{
    outline: none;
}

body{
    background-color: var(--deep-charcoal);
}

.container{
   max-width: 500px;
   margin:30px auto;
   width: 100%;
   height: auto;
   border: 3px solid var(--lavender-pink);
   border-radius: 50px;
   padding: 20px;
   color: var(--apricot-white);
   text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-log{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.image-log img{
    width: 100%;
    height: 100%;
}

header h1{
    font-size: 4rem;
}

main{
    width: 100%;
    margin: 50px auto;
}

.count-wrapper{
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

.count-heading{
    font-size: 2.5rem;
    color: var(--lavender);
}

.count-heading span{
    color: var(--apricot-white);
    font-size: 3rem;
}

.input-wrapper{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.input-wrapper input{
    padding: 15px;
   
}

.input-wrapper input[type="text"]{
    max-width: 70%;
    width: 100%;
    border: 4px solid var(--lavender-pink);
    background-color: var(--apricot-white);
}

.input-wrapper input[type="submit"]{
    background-color: var(--lavender);
    color: var(--apricot-white);
    border: 4px solid var(--lavender);
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.input-wrapper input[type="submit"]:hover{
    background-color: var(--apricot-white);
    border: 4px solid var(--lavender);
    color: var(--lavender );
}

.list-wrapper{
    margin: 40px auto;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: left;
    gap: 8px; 
}

