@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --font-family: "Nunito", sans-serif;
    --bg-color: #F6F5F1;
    --green-text: #173B34;
    --orange-color: #ECA780;
}

*{
    font-family: var(--font-family);
    margin: 0;
}

body{
    background-color: var(--bg-color);
    color: var(--green-text);
}

.container{
   padding: 0;
}

header{
    padding:20px 0;
    border-bottom: 1px solid #E9E7E4;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav .logo h1{
    font-size: 2rem;
    font-weight: bold;
}

header nav .logo .logo-img{
    width: 120px;
    height: 120px;
   
}

header nav .logo .logo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

header nav .mid-nav{
    display: flex;
   gap: 50px;
}

header nav .mid-nav a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--green-text);
    font-weight: 700;
    cursor: pointer;
}

header nav .browse-btn button{
    padding: 15px 20px;
    border-radius: 12px;
    border: none;
    background-color: var(--green-text);
    color: var(--bg-color);
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header nav .browse-btn button:hover{
    background-color: var(--bg-color);
    color: var(--green-text);
    border: 2px solid var(--green-text)
}

header nav .hamburger-menu{
    display: none;
}